/* Variables css */
:root {
  --dark-blue: #110f2a ;
  --blue: #524dd0;
  --cyan: #00ffec;
  --gradient: linear-gradient(to right, #524dd0, #84389e);
  --white: #fff;
  --black: #000;
  --text-color: #110f2a ;
  --cta-color: linear-gradient(to right, #524dd0, #84389e);
  --background-blue: 17, 15, 42;
  --selection: #84389e;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 500;
  color: var(--text-color);

  overflow-x:hidden;
}

main {
  margin-top:0;
}

::selection {
  color: var(--white);
  background-color: var(--selection);
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

h1 {
  font-weight: 700;
  line-height: 1.1;
  font-size: 6.25rem;
  color: var(--text-color);
}

h2 {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  line-height: 1.1;
  font-size: 3.125rem;
  color: var(--text-color);
}

h3 {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  font-size: 1.5625rem;
  color: var(--text-color);
}

p {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 500;
  line-height: 1.4;
  font-size: 1.1875rem;
  color: var(--text-color);
}

br {
  display: none;
}

button {
  all: unset;
  cursor: pointer;
}

.cta-gradient {
  width: max-content;
  font-weight: 500;
  padding: 0.7em 3em;
  background-image: var(--cta-color);
  border-radius: 2em;
}

.cta-gradient:hover {
  background: white;
  box-shadow: inset 0px 0px 0px 2px var(--blue);
}

.cta-gradient a {
  color: var(--white);
}

.cta-gradient:hover a {
  color: var(--blue);
}

/* NAVIGATION */

header {
  background-color: var(--white);
  width: 100%;
}

.logo {
  position:relative;
  display: block;
  width: 15em;
  margin: 2em 0 2em 1em;
}

a {
  color: var(--text-color);
  font-weight: 500;
  text-decoration: none;
  line-height: 2;
}

header a {
  font-size: 1.1em;
}

li {
  list-style: none;
}

.hover-color:hover, .hover-color:hover {
  color: var(--blue);
}

 .active {
  color: var(--blue);
}

.active-contact-link {
  color: var(--blue);
}

.primary-navigation>select {
  font-weight: 500;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9.283 4.898'%3E%3Cpath d='M4.641 4.898a.5.5 0 01-.343-.136L.158.864A.5.5 0 01.842.136L4.64 3.712 8.44.136a.5.5 0 01.686.729L4.984 4.762a.5.5 0 01-.343.136z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position-x: 3em;
  background-position-y: 1.25em;
  background-size: 1em;
  text-indent: 1em;
  -moz-appearance:none;
  -webkit-appearance: none; 
  appearance: none;
  width: 5.5em;
  height: 3.4em;
  border: 0.125em solid var(--dark-blue);
  border-radius: 2em;
}

.primary-navigation>select:hover {
  border: 0.125em solid var(--blue);
  color: var(--blue);
}

.primary-navigation {
  margin: 0 0 3em 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--white);
}

/* HERO */

#hero {
  padding: 5em 1em;
  background: linear-gradient(rgba(var(--background-blue), 0.7), rgba(var(--background-blue), 0.7)), url(../assets/locatie-gif.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

section #hero {
  color: var(--white);
}

#hero>h1 {
  color: var(--white);
}

#hero>h2 {
  color: var(--white);
  font-size: 2.5rem;
}

#hero>p {
  color: var(--white);
  font-size: 1.5625rem;
}

.type {
  display:inline-block;
}

.type > span {
  display: grid;
  overflow: hidden;
  height:1.2em;
}

.type span span {
  width:0%;
  max-width:max-content;
  overflow: hidden;
  height:inherit;
  word-break:break-all;
  animation:
    cursor 0.5s infinite steps(1),
    type 2s linear infinite alternate,
    move 16s steps(4) infinite;
}
.type span span:before {
  content:" ";
  display:inline-block;
}

@keyframes cursor{
  0%,100%{box-shadow:2px 0 0 white}
  50%    {box-shadow:2px 0 0 black}
}

@keyframes type{
  90%,100% {width:100%}
}

@keyframes move{
  100% {transform:translateY(-400%)}
}

/* Use-cases */

#use-cases {
  padding: 3em 0;
}

#use-cases>h2, #use-cases>p {
  color: var(--text-color);
  text-align: center;
}

#use-cases>p {
  margin-bottom: 2em;
}

.use-case {
  margin-bottom: 2em;
}

.option-one>h3, .option-two>h3, .option-three>h3, .option-four>h3 {
  color: var(--blue);
}

.option-one>h4, .option-two>h4, .option-three>h4, .option-four>h4 {
  margin-bottom: 0.25em;
}

.cta-gradient-arrow {
  display: none;
}

.use-case-image {
  position: relative;
  width:100%;
}

/* PRODUCT */

video {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.imagine-two {
  padding: 3em 1em;
  background-color: var(--blue);
}

.imagine-two>div>h2, 
.imagine-two>div>h3,
.imagine-two>p {
  color: var(--white);
}

/* Illustration */

.illustration {
  width: 100%;
}

.shelter {
  display: none;
}

.car {
  display: none;
}

#product>h2 {
  text-align: center;
  margin-bottom: 1em;
}

.animation>h2 {
  margin-top: 2em;
  text-align: center;
  font-weight: 700;
  font-size: 1.25rem;
}

.center-switch{
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch {
  margin-top: 0.5em;
  margin-bottom: 2em;
  position: relative;
  display: inline-block;
  width: 3.75em;
  height: 2.125em;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--dark-blue);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.625em;
  width: 1.625em;
  left: 0.25em;
  bottom: 0.25em;
  background-color: var(--white);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--blue);
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.625em);
  -ms-transform: translateX(1.625em);
  transform: translateX(1.625em);
}

.slider.round {
  border-radius: 2em;
}

.slider.round:before {
  border-radius: 1em;
}


/* Information */

.mission{
  padding: 5em 0;
  background-color: var(--blue);
}

.mission>h2 {
  text-align: center;
  font-weight: 500;
  font-size: 1.5625rem;
  color: var(--white);
}

.mission>h3 {
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
  font-size: 3.125rem;
  color: var(--white);
  line-height: 1;
  max-width: 13.8em;
}

.text_1 {
  top: 0.25em;
  overflow: hidden;
  white-space: nowrap;
  animation: typewriter;
  display: inline-block;
  position: relative;
  animation-duration: 10s;
  animation-timing-function: steps(25, end);
  animation-iteration-count: infinite;
}
.text_1::after {
  content: "|";
  position: absolute;
  right: 0;
  animation: caret infinite;
  animation-duration: 1s;
  animation-timing-function: steps(1, end);
}

@keyframes typewriter {
  0%, 100% {
    width: 0;
  }
  20%, 80% {
    width: 5.5em;
  }
}
@keyframes caret {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.flex-cta-blue {
  margin: 5em 0 0 3em;
  display: flex;
  flex-direction: row;
}

.information {
  background-color: var(--blue);
}

.cta-gradient-information {
  margin: 1em 0;
  padding: 0.7em 3em;
  color: white;
  font-weight: 500;
  background-image: var(--cta-color);
  border-radius: 2em;
}

.cta-gradient-information:hover {
  background: white;
  box-shadow: inset 0px 0px 0px 2px var(--blue);
}

.cta-gradient-information a {
  color: var(--white);
}

.cta-gradient-information:hover a {
  color: var(--blue);
}

.cta-gradient-information-two {
  margin: 1em 0;
  padding: 0.7em 3em;
  color: white;
  font-weight: 500;
  background-image: var(--cta-color);
  border-radius: 2em;
}

.cta-gradient-information-two:hover {
  background: white;
  box-shadow: inset 0px 0px 0px 2px var(--blue);
}

.cta-gradient-information-two a {
  color: var(--white);
}

.cta-gradient-information-two:hover a {
  color: var(--blue);
}

.show, .show-two {
  margin: 3em 0;
  background-color: var(--white);
  display: block;
}

.show-two {
  background-color: var(--white);
  display: none;
}

.livability-image, .infrastructure-image {
  display: block;
  width: 100%;
}

.livability-margin {
  margin-bottom: 1em;
}

/* SERVICES */

#services {
  padding: 3em 1em;
}

#services>h2, #services>p {
  text-align: center;
}

.services-articles>article {
  text-align: center;
}

/* UPDATES */

.imagine-three {
  padding: 3em 1em;
  background-color: var(--blue);
}

.imagine-three>div>h2, .imagine-three>p {
  color: var(--white);
}

.imagine-three>div>h3 {
  color: var(--white);
  max-width: 21em;
}

#updates {
  padding: 1em 1em;
}

#updates>h2, #updates>p {
  text-align: center;
}

.updates-horizontal-scroll {
  margin-top: 2em;
  display:flex;
  gap: 1em;
  justify-content:left;
  overflow-x:scroll;
}

.updates-horizontal-scroll>article {
  background-color: var(--white);
  cursor: pointer;
}

.updates-horizontal-scroll>article>h3 {
  margin: 1rem 1rem 0 1rem;
}

.updates-horizontal-scroll>article>p {
  margin: 0 1rem 1rem 1rem;
}

.updates-horizontal-scroll>article:hover h3,
.updates-horizontal-scroll>article:hover p {
  color: var(--blue);
}

.cta-gradient-info {
  margin-top: 1em;
padding: 0.7em 3em;
color: white;
font-weight: 500;
background-image: var(--cta-color);
border-radius: 2em;
}

.cta-gradient-info:hover {
  background: white;
  box-shadow: inset 0px 0px 0px 2px var(--blue);
}

.cta-gradient-info a {
  color: var(--white);
}

.cta-gradient-info:hover a {
  color: var(--blue);
}

.cta-gradient-info-two {
  margin-top: 1em;
padding: 0.7em 3em;
color: white;
font-weight: 500;
background-image: var(--cta-color);
border-radius: 2em;
}

.cta-gradient-info-two:hover {
  background: white;
  box-shadow: inset 0px 0px 0px 2px var(--blue);
}

.cta-gradient-info-two a {
  color: var(--white);
}

.cta-gradient-info-two:hover a {
  color: var(--blue);
}

.image-residents, .image-goals {
  display: block;
  width: 100%;
}

/* Initiatief */

.initiatief {
  text-align: center;
}

/* ABOUT */

#about>h2 {
  margin-bottom: 0.25em;
  text-align: center;
}

.text-about {
  padding: 3em;
  background-color: var(--blue);
}

.text-about>p:nth-child(1),
.text-about>p:nth-child(2),
.text-about>p:nth-child(3) {
  color: var(--white);
  position: relative;
  margin-bottom: 1rem;
}

.text-about>p:nth-child(4) {
  color: var(--white);
}

/* FOOTER */

footer {
  padding-bottom: 3em;
  background-color: var(--dark-blue);
}

.logo-footer {
  padding-top: 3em;
  display: block;
  margin: 0 auto;
  width: 50%;
}

.footer-content>p {
  text-align: center;
  margin-top: 0.5em;
  color: var(--white);
}

.footer-navigation {
  text-align: center;
}

.footer-link {
  color: var(--white);
  font-size: 1.1em;
  line-height: 1.5;
}

.footer-link {
  text-decoration: underline;
}

.footer-link:hover {
  text-decoration-color: var(--blue);
}

.logos-footer {
  text-align: center;
}

.footer-button {
  display: block;
  margin: 1em auto 0 auto;
}

/* CONTACT PAGE */

.contact {
  padding: 0 1em 1em 1em;
  text-align: center;
}

.contact>h1 {
  font-weight: 600;
  line-height: 1.1;
  font-size: 3.125rem;
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 1em;
}

input {
  border: 2px solid var(--dark-blue);
  padding: 0.5em;
    margin-bottom: 1em;
}

label {
  margin-bottom: 0.3125em;
}

textarea {
  width: 100%;
  border: 2px solid var(--dark-blue);
}

.contact-button {
  margin: 1em auto 3em auto;
  width: min-content;
}

/* DESKTOP */

@media (min-width: 70em) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  main {
    margin-top:5.25em;
  }

  br {
    display: block;
  }

  /* HEADER */

  .logo {
    margin: 0;
    position: relative;
		width: 8.125em;
    height: 2.8125em;
  }

  .primary-header {
    position: fixed;
    padding: 0 5em;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    height: 5.25em;
    background-color: white;
    width: 100%;
		z-index: 3;
  }
  
  .primary-navigation {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1.5em;
    list-style: none;
  }

  .primary-navigation {
    display: flex;
    flex-wrap: nowrap;
  }

	/* HERO */
	#hero {
		padding: 10.2em 0 10.2em 13em;
    background: linear-gradient(rgba(var(--background-blue), 0.7), rgba(var(--background-blue), 0.7)), url(../assets/locatie-gif.gif);
    background-repeat: no-repeat;
    background-size: cover;
	}

  /* Use-cases */

  .imagine {
    padding: 5em 13em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4em;
  }

  .flex-item-left {
    grid-template-columns: 1/2;
    transform-style: preserve-3d;
    transition:all 2s linear;
  }

  .text-blue {
    color: var(--blue);
  }

  #use-cases {
    background-color: var(--blue);
    padding: 5em 13em;
  }

  #use-cases>h2, #use-cases>p {
    color: var(--white);
  }

  .use-cases-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 4em;
  }

  .use-case-image {
    position: relative;
    width:100%;
    z-index: 1;
    transition: all .4s ease;
  }

  .option-one {
    position: relative;
    padding: 0 3em 4.7em 3em;
    margin-top: -8em;
    background-color: var(--white);
    z-index: 2;
    transition: all 0.8s ease;
  }

  .option-two, .option-three {
    position: relative;
    padding: 0 3em 3em 3em;
    margin-top: -8em;
    background-color: var(--white);
    z-index: 2;
    transition: all 0.8s ease;
  }

  .option-four {
    position: relative;
    padding: 0 3em 4.7em 3em;
    margin-top: -8em;
    background-color: var(--white);
    z-index: 2;
    transition: all 0.8s ease;
  }

  .option-move-down {
    transform: translateY(70px);
    margin-bottom: 5em;
  }

  .option-two-move-down {
    transform: translateY(70px);
    margin-bottom: 5em;
  }

  .option-three-move-down {
    transform: translateY(70px);
    margin-bottom: 5em;
  }

  .option-four-move-down {
    transform: translateY(70px);
    margin-bottom: 5em;
  }

  .toggle, .toggle-two, .toggle-three, .toggle-four  {
    display: block;
    margin-left:  auto;
    margin-right: 0;
  }

  .cta-gradient-arrow {
    font-size: 4rem;
    display: block;
    height: 0.6em;
    padding: 0 0.5em;
    background-image: var(--cta-color);
    color: var(--white);
    border-radius: 0 0 2em 2em;
    overflow: hidden;
    cursor: pointer;
  }

  .rotate {
    font-size: 4rem;
    display: block;
    height: 0.6em;
    padding: 0 0.5em;
    background-image: var(--cta-color);
    color: var(--white);
    border-radius: 2em 2em 0 0;
    overflow: hidden;
    cursor: pointer;
    rotate: 180deg;
  }

  /* PRODUCT */

  #product {
    padding: 5em 13em;
  }

  .shelter {
    margin: 40em 0 0 17em;
    position: absolute;
    width: 6em;
    z-index: 1;
    display: block;
  }
  
  .car {
    margin: 47em 0 0 0;
    position: absolute;
    width: 5em;
    animation-name: carmove;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    z-index: 0;
    display: block;
  }
  
  @keyframes carmove {
    0% {
        transform: translatex(0) translatey(0)
    }
    40% {
        transform: translatex(510px) translatey(-135px);
    }
    50% {
          transform: translatex(510px) translatey(-55px);
      }
    100% {
          transform: translatex(510px) translatey(-55px);
      }
  }

  .imagine-two {
    padding: 5em 13em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4em;
  }

  .imagine-two>div>h3 {
    max-width: 18em;
  }

  .information {
    padding: 5em 13em;
  }

  .livability, .infrastructure {
    padding: 3em 3em 3em 3em;
  }

  .livability>p {
    width: 80%;
  }

  /* SERVICES */

  #services {
    padding: 0;
    margin: 5em 13em;
  }

  .services-articles {
    margin-top: 4em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4em;
  }

  /* UPDATES */

  #updates {
    padding: 5em 13em;
  }

  .imagine-three {
    padding: 5em 13em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4em;
  }

  .information-two {
    padding: 5em 13em;
    background-color: var(--blue);
  }

  .information-residents, .information-goals {
    background-color: var(--white);
    display: block;
  }
  
  .information-goals {
    display: none;
  }

  .residents-padding, .goals-padding {
    padding: 3em 3em 3em 3em;
  }

  .blue {
    font-weight: 500;
    padding: 0.7em 3em;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 2em 2em 0 0;
    overflow: hidden;
    cursor: pointer;
    display: block;
  }

  /* ABOUT */

.initiatief {
  padding-top: 5em;
}

  #about {
    padding: 5em 13em;
  }

  .about-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3em;
  }

  .fronteer {
    margin-top: 6.8em;
  }

  .fronteer>img {
    margin-bottom: 1em;
  }

  .future-mobility-network {
    margin-top: 3em;
  }

  .future-mobility-network>img {
    margin-bottom: 1em;
  }

  .flex-fronteer, .flex-future {
    display: flex;
    gap: 3em;
  }

  .email-margin-bottom {
    margin-bottom: 0.5em;
  }

  /* FOOTER */

  footer {
    padding: 3em 13em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .logo-footer {
    padding-top: 0;
    margin: 0;
    display: block;
    width: 11em;
  }

  .logos-footer {
    text-align: left;
  }

  .logos-footer>img {
    display: block;
  }

  .logo-fronteer {
    margin-bottom: 1em;
  }

  .footer-navigation {
    text-align: left;
  }

  .footer-button {
    width: max-content;
    height:max-content;
  }

  .footer-content>p {
    margin-top: 1em;
    color: var(--white);
    text-align: left;
  }

  .footer-content>a {
    color: var(--white);
    text-decoration: underline;
  }

  .footer-content>a:hover {
    text-decoration-color: var(--blue);
  }

  /* CONTACT PAGINA */

  .contact {
    padding: 5em 24em 2em 24em;
  }

  form {
    margin: 0 30em 5em 30em;
    text-align: left;
    display: flex;
    flex-direction: column;
  }

  .contact-button {
    margin: 0;
    width: max-content;
  }

  textarea {
    padding: 0.5em;
  }

  #name:valid, #email:valid {
    border-color:green;
  }

  textarea:valid {
    border-color:green;
  }

}