/* Variables css */
:root {
  --dark-blue: #110f2a ;
  --blue: #524dd0;
  --cyaan: #00ffec;
  --gradient: linear-gradient(to right, #524dd0, #84389e);
  --white: #fff;
  --black: #000;
  --text-color: #110f2a ;
  --cta-color: linear-gradient(to right, #524dd0, #84389e);
  --background-blue: 17, 15, 42;
  --selection: #84389e;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 500;

  color: var(--text-color);
  max-width: 100%;
}

main{
  margin-top: 5.25em;
}

::selection {
  color: var(--white);
  background-color: var(--selection);
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 700;
  line-height: 1.1;
  font-size: 6.25rem;
  color: var(--text-color);
}

h2 {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  line-height: 1.1;
  font-size: 3.125rem;
  color: var(--text-color);
}

h3 {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  font-size: 1.5625rem;
  color: var(--text-color);
}

h4 {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  color: var(--text-color);
}

p {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  font-size: 1.1875rem;
  color: var(--text-color);
}

button {
  all: unset;
  cursor: pointer;
}

.cta-gradient {
  font-weight: 500;
  padding: 0.7em 3em;
  background-image: var(--cta-color);
  border-radius: 2em;
}

.cta-gradient:hover {
  background: white;
  box-shadow: inset 0px 0px 0px 2px var(--blue);
}

.cta-gradient a {
  color: var(--white);
}

.cta-gradient:hover a {
  color: var(--blue);
}

.cta-white {
  margin-top: 1.5em;
  padding: 0.7em 3em;
  background-color: var(--white);
  border-radius: 2em;
  overflow: hidden;
}

.cta-white:hover {
  background-color: var(--blue);
}

.cta-white a {
  color: var(--text-color);
}

.cta-white:hover a {
  color: var(--white);
}

/* NAVIGATION */

.logo {
  position:absolute;
  display: block;
  width: 15em;
  margin: 2em 0 2em 1em;
  opacity: 1;
}

a {
  color: var(--text-color);
  font-weight: 500;
  text-decoration: none;
}

header a {
  font-size: 1.1em;
}

.hover-color:hover, .hover-color:hover {
  color: var(--blue);
}

section #hero {
  color: var(--white);
}

.primary-navigation>select {
  font-weight: 500;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9.283 4.898'%3E%3Cpath d='M4.641 4.898a.5.5 0 01-.343-.136L.158.864A.5.5 0 01.842.136L4.64 3.712 8.44.136a.5.5 0 01.686.729L4.984 4.762a.5.5 0 01-.343.136z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position-x: 3em;
  background-position-y: 1.25em;
  background-size: 1em;
  text-indent: 1em;
  -moz-appearance:none;
  -webkit-appearance: none; 
  appearance: none;
  width: 5.5em;
  height: 3.4em;
  border: 0.125em solid var(--dark-blue);
  border-radius: 2em;
}

.primary-navigation>select:hover {
  border: 0.125em solid var(--blue);
  color: var(--blue);
}

/* HERO */

#hero>h1 {
  color: var(--white);
}

.font-size-heading-small {
  font-size: 2.5rem;
}

.font-size-paragraph-big {
  font-size: 1.5625rem;
}

#hero {
  padding: 5em 1em;
  background: linear-gradient(rgba(var(--background-blue), 0.7), rgba(var(--background-blue), 0.7)), url(../assets/locatie-gif.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Use-cases */

.text-white>h1, .text-white>h2, .text-white>h3, .text-white>p {
  color: var(--white);
}

.cta-blue {
  display: block;
  padding: 0.7em 3em;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 0 0 2em 2em;
  overflow: hidden;
  cursor: pointer;
}

.cta-blue:hover {
  background-color: var(--white);
  box-shadow:inset 0 0 0 0.125em var(--blue);
  color: var(--text-color);
}

/* PRODUCT */

video {
  display: block;
  width: 100%;
  margin: 0 auto;
}

/* Illustration */

.illustration {
  width: 100%;
}

#product {
  padding: 5em 13em;
}

#product>h2 {
  text-align: center;
  margin-bottom: 1em;
}

.animation>h2 {
  margin-top: 2em;
  text-align: center;
  font-weight: 700;
  font-size: 1.25rem;
}

.center-switch{
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch {
  margin-top: 0.5em;
  margin-bottom: 2em;
  position: relative;
  display: inline-block;
  width: 3.75em;
  height: 2.125em;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--dark-blue);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.625em;
  width: 1.625em;
  left: 0.25em;
  bottom: 0.25em;
  background-color: var(--white);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--blue);
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.625em);
  -ms-transform: translateX(1.625em);
  transform: translateX(1.625em);
}

.slider.round {
  border-radius: 2em;
}

.slider.round:before {
  border-radius: 1em;
}

/* Mission */



/* Information */

.mission{
  padding: 5em 0;
  background-color: var(--blue);
}

.mission>h2 {
  text-align: center;
  font-weight: 500;
  font-size: 1.5625rem;
  color: var(--white);
}

.mission>h3 {
  text-align: center;
  font-weight: 600;
  font-size: 3.125rem;
  color: var(--white);
}

.flex-cta-blue {
  margin: 5em 0 0 13em;
  display: flex;
  flex-direction: row;
}

.cta-blue-information {
  font-weight: 500;
  padding: 0.7em 3em;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 2em 2em 0 0;
  overflow: hidden;
  cursor: pointer;
  display: block;
}

.cta-blue-information-two {
  font-weight: 500;
  padding: 0.7em 3em;
  background-color: var(--white);
  color: var(--blue);
  box-shadow:inset 0 0 0 0.125em var(--blue);
  border-radius: 2em 2em 0 0;
  overflow: hidden;
  cursor: pointer;
  display: block;
}

.padding-show {
  padding: 3em 20em 3em 3em;
}

.show {
  background-color: var(--blue);
  margin: 0 13em 5em 13em;
  display: block;
}

.show-two {
  background-color: var(--blue);
  margin: 0 13em 5em 13em;
  display: none;
}

.show>img, .show-two>img {
  width: 100%;
}

/* SERVICES */

#services>h2, #services>p {
  text-align: center;
}

.services-articles>article {
  text-align: center;
}

/* UPDATES */

#updates {
  padding: 5em 13em ;
}

#updates>h2 {
  text-align: center;
}

.updates-horizontal-scroll {
  display:flex;
  gap: 1em;
  justify-content:left;
  overflow-x:scroll;
}

.updates-horizontal-scroll>article {
  background-color: var(--white);
  cursor: pointer;
}

.updates-horizontal-scroll>article>h3 {
  margin: 1rem 1rem 0 1rem;
}

.updates-horizontal-scroll>article>p {
  margin: 0 1rem 1rem 1rem;
}

.updates-horizontal-scroll>article:hover h3,
.updates-horizontal-scroll>article:hover p {
  color: var(--blue);
}

/* Initiatief */

.initiatief {
  text-align: center;
}

/* OVER ONS */

/* DESKTOP */

@media (min-width: 70em) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /* HEADER */

  .logo {
    margin: 0;
    position: relative;
		width: 8.125em;
    height: 2.8125em;
  }

  .primary-header {
    position: fixed;
    padding: 0 5em;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    height: 5.25em;
    background-color: white;
    width: 100%;
		z-index: 3;
  }
  
  .primary-navigation {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1.5em;
    list-style: none;
  }

  .primary-navigation {
    display: flex;
    flex-wrap: nowrap;
  }

	/* HERO */
	#hero {
		padding: 10.5em 0 10em 10.5em;
    background: linear-gradient(rgba(var(--background-blue), 0.7), rgba(var(--background-blue), 0.7)), url(../assets/locatie-gif.gif);
    background-repeat: no-repeat;
    background-size: cover;
	}

  /* Use-cases */

  .stel-je-voor {
    padding: 5em 13em;
  }

  .stel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4em;
  }

  .flex-item-left {
    grid-template-columns: 1/2;
  }

  .text-blue {
    color: var(--blue);
  }

  .stel>p {
    grid-template-columns: 2/3;
  }

  #use-cases {
    background-color: var(--blue);
    padding: 5em 13em;
  }

  #use-cases>h2 {
    text-align: center;
    margin-bottom: 1em;
  }

  .use-cases-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 4em;
  }

  .use-case-image {
    position: relative;
    width:100%;
    z-index: 1;
    transition: all .4s ease;
  }

  .option-one, .option-two, .option-three, .option-four {
    position: relative;
    padding: 0 3em 3em 3em;
    margin-top: -8em;
    background-color: var(--white);
    z-index: 2;
    transition: all 0.8s ease;
  }

  .option-move-down {
    transform: translateY(70px);
    margin-bottom: 5em;
  }

  .option-two-move-down {
    transform: translateY(70px);
    margin-bottom: 5em;
  }

  .option-three-move-down {
    transform: translateY(70px);
    margin-bottom: 5em;
  }

  .option-four-move-down {
    transform: translateY(70px);
    margin-bottom: 5em;
  }

  .toggle, .toggle-two, .toggle-three, .toggle-four  {
    display: block;
    margin-left:  auto;
    margin-right: 0;
  }

  /* PRODUCT */
  
  video {
    display: block;
    width: 100%;
    margin: 0 auto;
  }

  .stel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4em;
  }

  .mouse-animation {
    transform-style: preserve-3d;
    transition:all 2s linear;
    perspective: 1000px;
  }

  /* SERVICES */

  #services {
    margin: 5em 13em;
  }

  .services-articles {
    margin-top: 4em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4em;
  }

  /* UPDATES */

  .stel-je-voor-two {
    padding: 5em 13em;
    background-color: var(--blue);
  }

  /* #updates {
    padding: 5em 13em;
  } */
}